<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Cursos</title>
  <% include partials/header %>
  
</head>

<body>

  <header class="sticky">
  <% include partials/nav %>

  </header > <!-- /header -->
  <section id="process">
    <div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h1>Módulo Cursos</h1>
          
        </div>
          

      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
            Agregar Curso
          </button>     
        </div>
      </div>
    </div>
    <br>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-lg-offset-2 col-md-offset-1 col-xs-offset-0" id="elegir">
    	<form action="">
		  <input type="radio" name="elegir" value="todos" checked="checked" onchange="tomar();"> Todos<br>
		  <input type="radio" name="elegir" value="porProfesor" onchange="tomar();"> Por profesor<br>
		  <input type="radio" name="elegir" value="porParalelo" onchange="tomar();"> Por paralelo
		</form>

    </div>
    <br>
    <div id="todosC">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <table class="display tablaCursos">
            <thead>
                <tr>
                    <th style="display: none;">id</th>
                    <th>Profesor</th>
                    <th>Paralelo</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
              <% for (var key in listaCursos) {
                  var value = listaCursos[key]; %>
                <tr>
                    <td style="display: none;"><%= value._id %></td>
                    <td><%= value.profesor %></td>
                    <td><%= value.paralelo %></td>
                    <td><button onclick="ver(event,'t');"><span class="glyphicon glyphicon-eye-open"></span></button><button onclick="actualizar();"><span class="glyphicon glyphicon-edit"></span></button><button onclick="eliminar(event,'t');"><span class="glyphicon glyphicon-remove"></span></button></td>
                </tr>
                <% }%>
            </tbody>
        </table>
          
        </div>
          
      </div>

    </div>

    <div id="profC" style="display: none">
      <div class="row">
      <div class="inpor col-lg-12 col-md-12 col-sm-12 col-xs-12 row"">
      	<label class="col-lg-12">Ingese nombre completo del profesor</label><input class="col-lg-9" type="text" id="pro">
      	<button class="glyphicon glyphicon-search autocomplete col-lg-2" onclick="porProfesor();"></button>
      	</div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <table class="display">
            <thead>
                <tr id="encabpf">
                    <th style="display: none;">id</th> 
                    <th>Paralelo</th>
                </tr>
            </thead>
            <tbody id="estpro">
                
            </tbody>
        </table>
          
        </div>
          
      </div>

    </div>

    <div id="paraC" style="display: none">
      <div class="row">
      <div class="inpor col-lg-12 col-md-12 col-sm-12 col-xs-12 row">
      	<label class="col-lg-12">Ingese número del paralelo</label><input class="col-lg-9" type="number" id="par" min="1">
      	<button class="glyphicon glyphicon-search autocomplete col-lg-2" onclick="porParalelo();"></button>
      </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <table class="display tablaCursos">
            <thead >
                <tr id="encabpl">
                    <th style="display: none;">id</th>
                    <th>Estudiantes</th>

                </tr>
            </thead>
            <tbody id="estpar">
                <tr>
                    <td class="id" style="display: none;"></td>
                </tr>
            </tbody>
        </table>
          
        </div>
          
      </div>

    </div>





  </section>



<!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Agregar Curso</h4>
          </div>
           <div class="modal-body">
              <form method="post" action="/cursos">
                <div class="form-group">
                  <label>Profesor</label>
                  <input type="text" class="form-control autocomplete" id="prof" placeholder="Ingrese el profesor" name="profesor">
                </div>
                <div class="form-group">
                  <label>Paralelo</label>
                  <input type="number" min="1" class="form-control" id="paral" placeholder="Ingrese el número del paralelo" name="paralelo">
                </div>
                <div class="form-group row" id="llenar">
                  <label class="col-lg-12">Estudiantes</label><br>
                  <input type="text" name="estudiante" class="col-lg-10"><a href="#"><span class="glyphicon glyphicon-plus col-lg-1" id="mas" aria-hidden="true" onclick="agregarEstudiante();"></span></a>
                </div>
                <br>
                <a type="submit" class="btn btn-primary" style="float: right;" onclick="agregar();">Agregar</a>
              </form>
          </div>
        </div>
      </div>
  </div>

  <div class="modal fade" id="modalE" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="cerrar();"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"></h4>
          </div>
           <div class="modal-body" style="margin: 30px;margin-top: 0px;">
              <table>
              </table>
          </div>
          <div class="modal-footer"><button class="btn btn-success" onclick="cerrar();" style="margin-right: 30px; ">OK</button></div>
        </div>
      </div>
  </div>
  <div class="modal fade" id="modalP" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="cerrar();"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Eliminar curso</h4>
          </div>
           <div class="modal-body" style="margin: 30px;margin-top: 0px;">
              <b><p>Paralelo a eliminar: <label></label></p>
              <p>¿Segruro de eliminar este curso?</p></b>
          </div>
          <div class="modal-footer">
          	<button class="btn btn-default" onclick="cerrar();" style="margin-right: 30px; ">No</button>
          	<button class="btn btn-danger" onclick="borrar();">Si</button>
          </div>
        </div>
      </div>
  </div>

  <footer>
    <% include partials/footer %>
  </footer>




  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script type="text/javascript" src="https://cdn.datatables.net/v/bs-3.3.7/dt-1.10.13/datatables.min.js"></script>

  <script src="js/cursosV.js"></script>
  <script src="js/autocompletar.js"></script>

</body>
</html>

