<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Ejercicios</title>
  <% include partials/header %>
  
</head>

<body>

  <header class="sticky">
  <% include partials/nav %>
  </header > <!-- /header -->
  <section id="process">
    <div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h1> Módulo Ejercicio</h1>
          
        </div>
          
        <div>
          <h3 style="color: red"><%= message %></h3>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              
        </div>
      </div>
    </div>
    <br>
    <div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
         
          <div class="container">
               <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                  <select class="form-control" id="dif" name="rol">
                    <option>Selecccione una Díficultad</option>
                    <option>FACIL</option>
                    <option>INTERMEDIO</option>
                    <option>DIFICIL</option>
                  </select>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3"> 
            <button type="button" id="saltar" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
              Saltar
            </button> 
          </div>
          </div> 
          
        </div>
        <br>
          <hr>
      </div>
      <div class="row" ng-app="myApp" ng-controller="controller">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="contenedor">
               <p id="hide" ng-hide="true">{{Ejercicio._id}}</p>
               <h1>{{Ejercicio.nombre}}</h1>
               <p>{{Ejercicio.descripcion}}</p>
               <h3>Datos Entrada</h3>
               <a  id="entrada" href="{{Ejercicio.entrada}}">Datos para probar</a>
               <h3>Datos Salidas</h3>
               <a href="{{Ejercicio.salida}}">Ejemplo de salida</a>
               <h3>Respuesta</h3>
               <form ref='uploadForm' 
      id='uploadForm' 
      action='http://localhost:3000/ejercicios/subir' 
      method='post' 
      encType="multipart/form-data">
                 
                 <div class="form-group">
                 <input style="display: none;" type="text" name="entrada" id = "en">
                 <input style="display: none;" type="text" name="salida" id = "sa">
                 <input style="display: none;" type="text" name="dif" id = "dife">
                 <input style="display: none;" type="text" name="idE" id = "idE">
                  <label for="rol">Respuesta</label>
                 <input type="file" id="respuesta"  name="solucion" />
                </div>
                <input type="submit" id="submit"  name="Subir">


               </form>
               <br>
               <h3>Etiquetas</h3>
              <ul>
              <li style="list-style: none" ng-repeat="x in Ejercicio.etiquetas">{{x}}</li></ul>
               
            </div>
         </div>
      </div>
    </div>




  </section>


  <footer>
    <% include partials/footer %>
  </footer>




  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script type="text/javascript" src="https://cdn.datatables.net/v/bs-3.3.7/dt-1.10.13/datatables.min.js"></script>

  <script src="js/usuariosV.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="js/myCtrl.js"></script>
  <script src="js/ejerciciosE.js"></script>
  <script src="js/autocompletar.js"></script>
</body>
</html>
