<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Ejercicios</title>
  <% include partials/header %>
  
</head>

<body>

  <header class="sticky">

    <div class="row">

      <div class="logo">
           <a onclick="ini();" href="#">Fundamentos de Programación</a>
        </div>

      <nav id="main-nav-wrap">
        <ul class="main-navigation">
          <li onclick="inicio();"><a href="#" title="">Inicio</a></li>
          <li onclick="curso();"><a href="#" title="">El Curso</a></li>
          <li onclick="semana();"><a href="#" title="">Semana</a></li>
          <li onclick="equipo();"><a href="#" title="">Equipo</a></li>
          <li onclick="ayudantias();"><a href="#" title="">Ayudantías</a></li>
               <li class="with-sep nove" onclick="sandbox();"><a href="#" title="">SANDBOX</a></li>
               <li class="nove current" id="soloprof" onclick="proyectos();"><a  href="#"  title="">Proyectos</a></li>
               <li class="with-sep nove" onclick="perfil();"><a href="#"  title="">Perfil</a></li>       
          <li id="highlighted" class="highlight with-sep"><div class='video-link'><a id="iniciar" href="#login-popup" title="">Iniciar Sesión</a></div></li>
               <li class="highlight"><a id="cerrar" href="index.html" title="">Cerrar Sesión</a></li>

        </ul>
      </nav>

      <a class="menu-toggle" href="#"><span>Menu</span></a>
      
    </div>    
    
  </header > <!-- /header -->
  <section id="process">
    <div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h1> Módulo Ejercicio</h1>
          
        </div>
          

      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              
        </div>
      </div>
    </div>
    <br>
    <div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
         
          <div class="container">
               <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
                  <select class="form-control" id="rol1" name="rol">
                    <option>Selecccione una Díficultad</option>
                    <option>Fácil</option>
                    <option>Intermedio</option>
                    <option>Difícil</option>
                  </select>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3"> 
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
              Saltar
            </button> 
          </div>
          </div> 
          
        </div>
        <br>
          <hr>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="contenedor">
               <h1>Titulo</h1>
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
               tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
               quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
               consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
               cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
               proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
               <h3>Datos Entrada</h3>
               <a href="#">Datos para probar</a>
               <h3>Datos Salidas</h3>
               <a href="#">EJemplo de salida</a>
               <br>
              <div class="col-xs-6 col-sm-5 col-md-4 col-lg-3"><h3 href="#" class="btn-primary">Etiqueta1</h3></div>
               
            </div>
         </div>
      </div>
    </div>




  </section>


  <footer>
    <% include partials/footer %>
  </footer>




  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script type="text/javascript" src="https://cdn.datatables.net/v/bs-3.3.7/dt-1.10.13/datatables.min.js"></script>

  <script src="js/usuariosV.js"></script>

</body>
</html>
