<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Ejercicios</title>
  <% include partials/header %>
  
</head>

<body>

  <header class="sticky">

    <div class="row">

      <div class="logo">
           <a onclick="ini();" href="#">Fundamentos de Programación</a>
        </div>

      <nav id="main-nav-wrap">
        <ul class="main-navigation">
          <li onclick="inicio();"><a href="#" title="">Inicio</a></li>
          <li onclick="curso();"><a href="#" title="">El Curso</a></li>
          <li onclick="semana();"><a href="#" title="">Semana</a></li>
          <li onclick="equipo();"><a href="#" title="">Equipo</a></li>
          <li onclick="ayudantias();"><a href="#" title="">Ayudantías</a></li>
               <li class="with-sep nove" onclick="sandbox();"><a href="#" title="">SANDBOX</a></li>
               <li class="nove current" id="soloprof" onclick="proyectos();"><a  href="#"  title="">Proyectos</a></li>
               <li class="with-sep nove" onclick="perfil();"><a href="#"  title="">Perfil</a></li>       
          <li id="highlighted" class="highlight with-sep"><div class='video-link'><a id="iniciar" href="#login-popup" title="">Iniciar Sesión</a></div></li>
               <li class="highlight"><a id="cerrar" href="index.html" title="">Cerrar Sesión</a></li>

        </ul>
      </nav>

      <a class="menu-toggle" href="#"><span>Menu</span></a>
      
    </div>    
    
  </header > <!-- /header -->
  <section id="process">
    <div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h1> Módulo Ejercicio</h1>
          
        </div>
          

      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
            Agregar Ejercicio
          </button>     
        </div>
      </div>
    </div>
    <br>
    <div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
         
  
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Ejercicio 1  -   Facil</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse in">
        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Ejercicio2</a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Ejercicio 3</a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
      </div>
    </div>
  </div> 

          
        </div>
          
      </div>

    </div>




  </section>



<!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Agregar Ejercicio</h4>
          </div>
           <div class="modal-body">
              <form method='post' action='/usuario'>
                <div class="form-group">
                  <label for="titulo">Título</label>
                  <input type="text" class="form-control" id="inputtitulo" aria-describedby="tituloHelp" placeholder="Ingrese el titulo" name="titulo">
                </div>
                <div class="form-group">
                  <label for="rol">Dificultad</label>
                  <select class="form-control" id="rol1" name="rol">
                    <option>Fácil</option>
                    <option>Intermedio</option>
                    <option>Difícil</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="desc">Descripcion</label>
                  <textarea class="form-control" rows="2" id="descripcion"></textarea>
                </div>
                <div class="form-group">
                  <label for="rol">Datos entrada</label>
                 <input type="file" class="form-control" id="inputEntrada" aria-describedby="EntradaHelp" placeholder="Ingrese el archivo con los datos" name="entrada">
                </div>
               <div class="form-group">
                  <label for="rol">Datos salida</label>
                 <input type="file" class="form-control" id="inputSalida" aria-describedby="SalidaHelp" placeholder="Ingrese el archivo con los datos" name="salida">
                </div>
                <div class="form-group">
                  <label for="titulo">Etiquetas</label>
                  <input type="text" class="form-control" id="inputEtiqueta1" aria-describedby="etiquetaHelp" placeholder="Ingrese la etiqueta" name="etiqueta1">
                </div>

                <a type="btn-primary" class="btn btn-primary">Subir</a>
              </form>
          </div>
        </div>
      </div>
  </div>

  <footer>
    <% include partials/footer %>
  </footer>




  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script type="text/javascript" src="https://cdn.datatables.net/v/bs-3.3.7/dt-1.10.13/datatables.min.js"></script>

  <script src="js/usuariosV.js"></script>

</body>
</html>
