<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Ejercicios</title>
  <% include partials/header %>
  
</head>
<body style="background-color:white">
<h1>Error de Python</h1>
<p><%= error %></p>
<a href="/ejercicios"  class= "btn-default">Volver</a>
</body
</html>