<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Login </title>
  
    <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'> 

   <link rel="stylesheet" href="stylesheets/loginStyle2.css">



  
</head>

<body>
  <div>
    <form method="post" action="/">
      <div class="login-form">
       <img src="images/footer-logo.png" alt="logo espol" width="100%" heigth = "10%">
       <div class="form-group ">
         <input type="text" class="form-control" placeholder="Correo " id="UserName" name="correo">
         <i class="fa fa-user"></i>
       </div>
       <div class="form-group log-status">
         <input type="password" class="form-control" placeholder="Contrase単a" id="Password" name="password">
         <i class="fa fa-lock"></i>
       </div>
        <span class="alert">credenciales incorrectas!!</span>
        <a class="link" href="#" data-toggle="modal" data-target="#myModal">Lost your password?</a>
       <button type="submit" class="log-btn" >Log in</button>  
<<<<<<< HEAD
=======

>>>>>>> 68469641dc75bd5c40bdf485d7dc5c2e29a65701
     </div>
    </form>
    

  </div>
  <div>
<<<<<<< HEAD
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Agregar Usuario</h4>
            </div>
             <div class="modal-body">
                  <div id="messageZone2">
                  </div>

                  <div>
                    <div class="form-group">
                      <label for="correo">Correo</label>
                      <input type="email" class="form-control" id="inputCorreo" aria-describedby="emailHelp" placeholder="Enter email" name="correo">
                    </div>
                    <div class="form-group">
                      <label for="pass">Vieja Contrase単a</label>
                      <input type="password" class="form-control" id="oldPassword" placeholder="Password" name="oldPassword">
                    </div>
                    <div class="form-group">
                      <label for="pass">Nueva Contrase単na</label>
                      <input type="password" class="form-control" id="newPassword1" placeholder="Password" name="newPassword1">
                    </div>
                    <div class="form-group">
                      <label for="pass">Repita nueva contrase単a</label>
                      <input type="password" class="form-control" id="newPassword2" placeholder="Password" name="newPassword2">
                    </div>
                  </div>


            </div>
            <div class="modal-footer">
              <input type="submit" form="task-form" class="btn btn-success" value="Crear" onclick="cambioPassword();">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
           </div>
          </div>
        </div>
    </div>
  </div>

=======
   
>>>>>>> 68469641dc75bd5c40bdf485d7dc5c2e29a65701

  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


  <script src="js/loginJS.js"></script>

</body>
</html>
