
<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
  <head runat="server"> 
    <title>Formulario de contacto</title> 
     <link rel="stylesheet" href="stylesheets/loginStyle.css">  
  </head> 
  <body>


    <div class="container">  
      <form id="contact" action="agregar.php" method="post">
        <h3>Formulario</h3>
        <fieldset>
          <input placeholder="nombre" type="text" tabindex="1" name="nombre" required autofocus>
        </fieldset>
        <fieldset>
          <input placeholder="direccion" type="text" tabindex="2" name="direccion" required>
        </fieldset>
        <fieldset>
          <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
        </fieldset>
      </form>
    </div>
  </body>   
</html>
