<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Reportes</title>
  <% include partials/header %>
  
</head>

<body>

  <header class="sticky">
  <% include partials/nav %>

   </header > <!-- /header -->
  <section id="process" style="padding-left: 4em;">
    <div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <h1>Módulo Reportes</h1>
          <p id="direccion" style="display: none;"><%= error%></p>
        </div>
          

      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <button type="button" class="btn btn-primary btn-lg" onclick="cambiar('c')">
            Reporte por curso
          </button> 
          <button type="button" class="btn btn-primary btn-lg" onclick="cambiar('e')">
            Reporte por estudiante
          </button>     
        </div>
      </div>
    </div>
    <br>
    <div style="display: none;" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-lg-offset-2 col-md-offset-1 col-xs-offset-0" id="estudiante"> 
      <div class="row">
      <div class="inpor col-lg-12 col-md-12 col-sm-12 col-xs-12 row">
        <label class="col-lg-12">Ingese nombre completo del estudiante</label><input class="col-lg-9" type="text" id="pro">
        <button class="glyphicon glyphicon-search autocomplete col-lg-2" onclick="porEstudiante(event);"></button>
      </div>
      <br>
      <div class="col-lg-12">
      <label class="col-lg-2">Rango inicial</label>
        <input class="col-xs-4 col-lg-4 col-md-4 col-sm-4" type="date" name="f" id="fi">
        <label class="col-lg-2">Rango final</label>
      <input class="col-xs-4 col-lg-4 col-md-4 col-sm-4" type="date" name="f" id="ff">
      </div>
      
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          
          <canvas id="estChart" width="400" height="400"></canvas>
        </div>
          
      </div>
    </div>

    <div style="display: none;" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-lg-offset-2 col-md-offset-1 col-xs-offset-0" id="curso">
      <div class="row">
      <div class="inpor col-lg-12 col-md-12 col-sm-12 col-xs-12 row">
        <label class="col-lg-12">Ingese número del paralelo</label><input class="col-lg-8" type="number" id="par" min="1">
        <button class="glyphicon glyphicon-search autocomplete col-lg-1" style="margin-right: 30px" onclick="porParalelo(event);"></button>
      </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          
          <canvas id="curChart" width="400" height="400"></canvas>
        </div>
          
      </div>
    </div>


  </section>


  <footer>
    <% include partials/footer %>
  </footer>




  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script type="text/javascript" src="https://cdn.datatables.net/v/bs-3.3.7/dt-1.10.13/datatables.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.js"></script>
  <!-- Load Chart.js from a CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
<script src="/js/Chart.js"></script>
<script>
function cambiar (tipo) {
  switch (tipo) {
      case 'c':
        $("#estudiante").css('display', 'none');
        $("#curso").css('display', 'block');
        break;
      case 'e':
        $("#curso").css('display', 'none');
        $("#estudiante").css('display', 'block');
        break;
      default:
        // statements_def
        break;
    }  
}
Array.prototype.unique=function(a){
  return function(){return this.filter(a)}}(function(a,b,c){return c.indexOf(a,b+1)<0
});

function porParalelo (event) {
  // body... 


  $(".err").remove();
  var p=$($(event.target).siblings('input')[0]).val();
  var fechas=[];
  var est=[];
  $.ajax({
          url: '/cursos/paralelo/'+p,
          type: 'GET',
          dataType: 'json',
          data: {paralelo: p},
        })
         .done(function(resp) {
          console.log("success");
          est=JSON.parse(resp.estudiantes);
          dates(est,fechas,p);
        })
        .fail(function(resp) {
          console.log("error");
          console.log(resp);
          var error=document.createElement("span");
        $(error).css('color','red');
        $(error).html("No existe el praralelo");
        $(error).addClass("col-lg-10");
        $(error).addClass("err");
        $(error).css('margin-left','0px');
        $(error).css('float','left');
        var br=document.createElement("br");
        $("#curso .row .inpor").append(br);
        $("#curso .row .inpor").append(error);
        })
        .always(function() {
          console.log("complete");
    });}
        function dates (estudiantes,fechas,p) {
          for (var i = 0; i < estudiantes.length; i++) {
            $.ajax({
          url: '/reportes/estudiante/'+estudiantes[i],
          type: 'GET',
          dataType: 'json',
          data: {estudiante: estudiantes[i]},
        })
         .done(function(resp) {
          console.log("success");
          for (var i = 0; i < resp.length; i++) {
            var ej=resp[i];
            fechas.push(ej.fecha);
          }
          success(fechas,p)
        })
        .fail(function(resp) {
          console.log("error");
          console.log(resp);
          var error=document.createElement("span");
        $(error).css('color','red');
        $(error).html("No hay información a mostrar");
        $(error).addClass("col-lg-10");
        $(error).addClass("err");
        $(error).css('margin-left','0px');
        $(error).css('float','left');
        var br=document.createElement("br");
        $("#curso .row .inpor").append(br);
        $("#curso .row .inpor").append(error);
        })
        .always(function() {
          console.log("complete");
    });
           } 
        }
        function success (fechas,curso) {
          // body... 
        var original=[]
        var cantidades=[];
        for (var i = 0; i < fechas.length; i++) {
          original.push(new Date(fechas[i]));
        }
        var copia=original.unique();
        for (var i = 0; i < original.length; i++) {
          var cont= 0
          for (var j = 0; j < copia.length; j++) {
            if(copia[j]==original[i])
              cont++;
          }
          cantidades.push(cont);
        }/*
var pieData = [{value: 40,color:"#0b82e7",highlight: "#0c62ab",label: "Google Chrome"},
        {
          value: 16,
          color: "#e3e860",
          highlight: "#a9ad47",
          label: "Android"
        },
        {
          value: 11,
          color: "#eb5d82",
          highlight: "#b74865",
          label: "Firefox"
        },
        {
          value: 10,
          color: "#5ae85a",
          highlight: "#42a642",
          label: "Internet Explorer"
        },
        {
          value: 8.6,
          color: "#e965db",
          highlight: "#a6429b",
          label: "Safari"
        }
      ];

  var barChartData = {
    labels : ["Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio"],
    datasets : [
      {
        fillColor : "#6b9dfa",
        strokeColor : "#ffffff",
        highlightFill: "#1864f2",
        highlightStroke: "#ffffff",
        data : cantidades
      },
      {
        fillColor : "#e9e225",
        strokeColor : "#ffffff",
        highlightFill : "#ee7f49",
        highlightStroke : "#ffffff",
        data : [40,50,70,40,85,55,15]
      }
    ]

  } 
  */
    var lineChartData = {
      labels : copia,
      datasets : [
        {
          label: "Primera serie de datos",
          fillColor : "rgba(220,220,220,0.2)",
          strokeColor : "#6b9dfa",
          pointColor : "#1e45d7",
          pointStrokeColor : "#fff",
          pointHighlightFill : "#fff",
          pointHighlightStroke : "rgba(220,220,220,1)",
          data : cantidades
        }
        /*
        ,
        {
          label: "Segunda serie de datos",
          fillColor : "rgba(151,187,205,0.2)",
          strokeColor : "#e9e225",
          pointColor : "#faab12",
          pointStrokeColor : "#fff",
          pointHighlightFill : "#fff",
          pointHighlightStroke : "rgba(151,187,205,1)",
          data : [40,50,70,40,85,55,15]
        }
        */
      ]

    }
var ctx4 = document.getElementById("curChart").getContext("2d");
window.myPie = new Chart(ctx4).Line(lineChartData, {responsive:true});
}
function porEstudiante(event) {
  $(".err").remove();
  var fi=new Date($("#fi").val());
  var ff=new Date($("#fi").val());
  console.log(fi)
  console.log(ff)
  var fechasE=[];
  var e=$($(event.target).siblings('input')[0]).val();
  var n=e.split(" ");
  console.log(n[3])
  if ((n[0]!=undefined)&&(n[1]!=undefined)&&(n[2]!=undefined)&&(n[3]!=undefined)) {
    var nombres=""+n[0]+" "+n[1];
  var apellidos=""+n[2]+" "+n[3];
  if ((/([A-Z]([a-z]+))+/.test(nombres)&&/([A-Z]([a-z]+))+/.test(apellidos))) {
    console.log('correcto')
     $.ajax({
      url: '/reportes/estudiante/'+e,
      type: 'GET',
      dataType: 'json',
      data: {estudiante:e},
    })
    .done(function(resp) {
      console.log("success");
      console.log(resp)
      if (resp.length==0) {
        var error=document.createElement("span");
        $(error).css('color','red');
        $(error).html("No hay información que mostrar");
        $(error).addClass("col-lg-10");
        $(error).addClass("err");
        $(error).css('margin-left','0px');
        $(error).css('float','left');
        var br=document.createElement("br");
        $("#estudiante .row .inpor").append(br);
        $("#estudiante .row .inpor").append(error);
      }else {
        
      
      for (var i = 0; i < resp.length; i++) {
        if(fechasE<=fi||fechasE>=ff){
          console.log('hola')
        fechasE.push(resp[i].fecha);}
        fechasE.push(resp[i].fecha)
      }
      var originalE=[]
        var cantidadesE=[];
        for (var i = 0; i < fechasE.length; i++) {
          originalE.push(new Date(fechasE[i]));
        }
        var copiaE=originalE.unique();
        for (var i = 0; i < originalE.length; i++) {
          var conta= 0
          for (var j = 0; j < copiaE.length; j++) {
            if(copiaE[j]==originalE[i])
              conta++;
          }
          cantidadesE.push(conta);}

      var lineChartData = {
      labels : copiaE,
      datasets : [
        {
          label: "Primera serie de datos",
          fillColor : "rgba(220,220,220,0.2)",
          strokeColor : "#6b9dfa",
          pointColor : "#1e45d7",
          pointStrokeColor : "#fff",
          pointHighlightFill : "#fff",
          pointHighlightStroke : "rgba(220,220,220,1)",
          data : cantidadesE
        }
    ]

    }
var ctx4 = document.getElementById("estChart").getContext("2d");
window.myPie = new Chart(ctx4).Line(lineChartData, {responsive:true});}})
    .fail(function() {
      console.log("error");
    })
    .always(function() {
      console.log("complete");
    });
  }
  else{
     var error=document.createElement("span");
        $(error).css('color','red');
        $(error).html("Ingrese nombre completo");
        $(error).addClass("col-lg-10");
        $(error).addClass("err");
        $(error).css('margin-left','0px');
        $(error).css('float','left');
        var br=document.createElement("br");
        $("#estudiante .row .inpor").append(br);
        $("#estudiante .row .inpor").append(error);
  }
  }
  else {
    var error=document.createElement("span");
     $(error).css('color','red');
        $(error).html("Ingrese nombre completo");
        $(error).addClass("col-lg-10");
        $(error).addClass("err");
        $(error).css('margin-left','0px');
        $(error).css('float','left');
        var br=document.createElement("br");
        $("#estudiante .row .inpor").append(br);
        $("#estudiante .row .inpor").append(error);
  }
  
  }
</script>

</body>
</html>
