.tabs a span {
    border-radius: 5px 5px 0 0;
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: center;
    background: #ccc;
    padding: 5px;
}

.tabs a .active {
    background: white;
}
